@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin:0;
}
body{
    font-family: "Azeret Mono", monospace;
}

.container{

    max-width: 80%;
    margin: 0 auto;
}

.nav-contain{
    
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-text{
    font-weight: 800;
    font-size: 28px;
}
.nav-btn{
    width: 228px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    
}

.banner-content{
    
    max-width: 1440px;
    height: 652px;
    background-image: url('./assets/Hero-bg.png');
}
.banner-image{
    width: 240px;
    height: 240px;
}
.banner-image img{
    width: 100%;
    height: 100%;
}
.banner-text-content{
    margin: 0 auto;
    max-width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.banner-head-text{
    text-align: center;
    font-size: 38px;
    margin-top: 40px;
}
.banner-paragraph-text{
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
}
.banner-btn{
    width: 208px;
    height: 66px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    background-color: rgb(13, 19, 33);
    color: white;
    border-radius: 5px;
}
.why-web-deveopment-content{
    background-color: rgba(13, 19, 33, 0.02);
    max-width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
}

.why-web-deveopment-title{
    text-align: center;
}
.why-web-deveopment-title h1{
    margin: 0 0 24px 0;
    font-size: 32px;
    font-weight: 800;
}
.why-web-deveopment-title p{
    margin: 0 0 32px 0;
}


.why-web-deveopment-section{
    background-color: rgb(255, 255, 255);
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.why-web-deveopment-text{
    width: 437px;
    height: 220px;
}
.why-web-deveopment-text h1{
    font-size: 24px;
    font-weight: 700;
}
.why-web-deveopment-text p{
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 32px 0;
}
.why-web-deveopment-text button{
    width: 150px;
    height: 48px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}
.why-web-deveopment-image{
    width: 240px;
    height: 240px;
}
.why-web-deveopment-image img{
    width: 100%;
    height: 100%;
}

